
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
    font-family: oswaldl;
    src: url('/fonts/Oswald-ExtraLight.ttf');
}

body {
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.profile-picture {
    width: 160px;
    border-radius: 50%;
    border: 10px solid lightgrey;
}


body {
    color: #4d4d4d;
}

.footer {
    background-color: lightgrey;
}

.nav {
    position:fixed;
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4d4d4d;
}

.menu-btn {
    display: none;
}

nav {
    text-align: center;
    padding-top: 30px;
}

nav a {
    color: lightgrey;
    display: block;
    padding-top: 5px;
}

.one-column {
    margin-left: 270px;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.no-padding {
    paddig:0px;
}


.home-section {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 30px;
}

.info {
    padding-left: 60px;
    padding-right: 30px;
}
.home-section p {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
}

.yellow, a:hover {
    color: #ffc107;
    margin: 0px;
}

a span {
    color: #4d4d4d;
}

.inline-list li {
    display: inline;
    padding-right: 42px;
}
ul {
    padding: 0;
    list-style-type: none;
}

#home-title {
    color: black;
    font-size: 66px;
}

#text-primary {
    color: grey;
}

.align-right {
    align-content: flex-end;
}

